<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

<!---------------用户信息------------------>
<div class="container serve_box">
	<div class="row">
		<div class="col-xs-3">
			<div class="serve_lf">
				<ul>
					<li>
						<a href="appset.html" >微信设置</a>
					</li>
					<li>
						<a href="appset_2.html">支付宝设置</a>
					</li>
					<li>
						<a href="appset_3.html" class="ac_s">手机权限设置</a>
					</li>
					<li>
						<a href="appset_4.html">使用问题与处理</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="record_ron">
				<div class="state">
					<h4>通过APP设置各种权限 </h4>
					<p> 安装黑米支付APP后，登录APP，在【我的】菜单下，进行通知使用权，通知和状态栏，开机启动等权限设置</p>
					<p> <a href="/heimipay.apk">APP下载</a></p>
					<br>
					<p><img src="/pay/images/app_set01.jpg"></p>
				</div>


				<div class="state">
					<h4>1.设置通知使用权 </h4>
					<p>只要开启黑米支付APP的通知使用权即可。</p>
					<br>
					<p><img src="/pay/images/app_set02.jpg"></p>
				</div>


				<div class="state">
					<h4>2.设置允许通知和状态栏 </h4>
					<p>黑米支付APP，微信APP,支付宝APP，这3个APP均需要允许通知和状态栏。</p>
					<p>这个权限，一般的手机都是默认开启的，如没开启，请开启。</p>
					<p>其中黑米支付允许通知即可，悬浮通知,悬浮通知均可以不开启。微信，支付宝的最好是全部开启</p>


					<br>
					<p><img src="/pay/images/app_set03.jpg"></p>
					<br>
					<p><img src="/pay/images/app_set05.jpg"></p>
					<br>
					<p><img src="/pay/images/app_set_zfbtz.jpg"></p>
					<br>
					<p><img src="/pay/images/app_set_wxtz.jpg"></p>
				</div>


				<div class="state">
					<h4>3.设置开机启动权限 </h4>
					<p>黑米支付APP，微信APP,支付宝APP，这3个APP最好都设为开机启动。</p>
					<p>但是如果真的遇到手机重启，最好以上3个APP都要手工重新开一下。</p>
					<br>
					<p><img src="/pay/images/app_set04.jpg"></p>
				</div>

				<div class="state">
					<h4>4.开启微信，支付宝的所有权限 </h4>
					<p>部分手机的微信，支付宝在锁屏等状态不会语言通知，请在手机的安全中心中把微信，支付宝的所有权限都开启。</p>

					<br>
					<p><img src="/pay/images/app_set_zfb_all.jpg"></p>
					<p><img src="/pay/images/app_set_wx_all.jpg"></p>
				</div>

				<div class="state">
					<h4>5.把微信，支付宝，黑米支付3个APP锁住 </h4>
					<p>把微信，支付宝，黑米支付3个APP锁住，避免被系统清理，回收。</p>

					<br>
					<p><img src="/pay/images/app_set_suo.jpg"></p>
				</div>

			</div>

		</div>

	</div>
</div>


<!---------footer-------------->
<#include "/pay/include/footer.html" />
<#include "/pay/include/hmt.html" />

</body>
</html>