<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

<!---------------用户信息------------------>
<div class="container serve_box">
	<div class="row">
		<div class="col-xs-3">
			<div class="serve_lf">
				<ul>
					<li>
						<a href="appset.html" class="ac_s">微信设置</a>
					</li>
					<li>
						<a href="appset_2.html">支付宝设置</a>
					</li>
					<li>
						<a href="appset_3.html">手机权限设置</a>
					</li>
					<li>
						<a href="appset_4.html">使用问题与处理</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="record_ron">
				<div class="state">
					<h4>1.关闭微信免打扰 </h4>
					<p> 在微信的【设置】 - 【勿扰模式】中，关闭勿扰模式（默认是关闭的）</p>
					<br>
					<p><img src="/pay/images/wx_set01.jpg"></p>
				</div>


				<div class="state">
					<h4>2.开启微信二维码收款语音提醒 </h4>
					<p> 在微信【我】 - 【钱包】 - 【收付款】 - 【二维码收款】的右上角...中，开启收款语音提醒（默认是没开启的，需要手工开启）</p>
					<br>
					<p><img src="/pay/images/wx_set02.jpg"></p>
				</div>

				<div class="state">
					<h4>3.取消"收款小账本"的微信小程序 </h4>
					<p> 如果安装了"收款小账本"的微信小程序，请删除"收款小账本"的小程序，小程序在微信聊天首页下拉可以查看到</p>
					<br>
					<p><img src="/pay/images/wx_set03.jpg"></p>
				</div>


			</div>

		</div>

	</div>
</div>


<!---------footer-------------->
<#include "/pay/include/footer.html" />
<#include "/pay/include/hmt.html" />

</body>
</html>