<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

<!---------------用户信息------------------>
<div class="container serve_box">
	<div class="row">
		<div class="col-xs-3">
			<div class="serve_lf">
				<ul>
					<li>
						<a href="appset.html" >微信设置</a>
					</li>
					<li>
						<a href="appset_2.html" class="ac_s">支付宝设置</a>
					</li>
					<li>
						<a href="appset_3.html">手机权限设置</a>
					</li>
					<li>
						<a href="appset_4.html">注意事项</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="record_ron">
				<div class="state">
					<h4>开启支付宝收款语音提醒 </h4>
					<p> 在支付宝主页，搜索<支付助手>，进入支付助手设置，打开提醒(默认是关闭的，需要手工开启)</p>
					<br>
					<p><img src="/pay/images/zfb_set01.png"></p>
					<br>
					<p><img src="/pay/images/zfb_set02.jpg"></p>
					<br>
					<p><img src="/pay/images/zfb_set03.jpg"></p>
					<br>
					<p><img src="/pay/images/zfb_set04.jpg"></p>
				</div>



			</div>

		</div>

	</div>
</div>


<!---------footer-------------->
<#include "/pay/include/footer.html" />
<#include "/pay/include/hmt.html" />

</body>
</html>