<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

<!---------------用户信息------------------>
<div class="container serve_box">
	<div class="row">
		<div class="col-xs-3">
			<div class="serve_lf">
				<ul>
					<li>
						<a href="appset.html" >微信设置</a>
					</li>
					<li>
						<a href="appset_2.html">支付宝设置</a>
					</li>
					<li>
						<a href="appset_3.html" >手机权限设置</a>
					</li>
					<li>
						<a href="appset_4.html" class="ac_s">注意事项</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="record_ron">
				<div class="state">
					<h4>通过APP设置各种权限 </h4>
					<p> 安装黑米支付APP后，登录APP，在【我的】菜单下，进行通知使用权，通知和状态栏，开机启动等权限设置</p>
					<p> <a href="/heimipay.apk">APP下载</a></p>
					<br>
					<p><img src="/pay/images/app_set01.jpg"></p>
				</div>


				<div class="state">
					<h4>1.设置通知使用权 </h4>
					<p>只要开启黑米支付APP的通知使用权即可。</p>
					<br>
					<p><img src="/pay/images/app_set02.jpg"></p>
				</div>


				<div class="state">
					<h4>2.设置允许通知和状态栏 </h4>
					<p>黑米支付APP，微信APP,支付宝APP，这3个APP均需要允许通知和状态栏。</p>
					<p>这个权限，一般的手机都是默认开启的，如没开启，请开启。其中黑米支付允许通知即可，悬浮通知可以不开启</p>

					<br>
					<p><img src="/pay/images/app_set03.jpg"></p>
					<br>
					<p><img src="/pay/images/app_set05.jpg"></p>
				</div>


				<div class="state">
					<h4>3.设置开机启动权限 </h4>
					<p>黑米支付APP，微信APP,支付宝APP，这3个APP最好都开启开机启动，避免手机重启后无效。</p>
					<br>
					<p><img src="/pay/images/app_set04.jpg"></p>
				</div>

			</div>

		</div>

	</div>
</div>


<!---------footer-------------->
<#include "/pay/include/footer.html" />
<#include "/pay/include/hmt.html" />

</body>
</html>