<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

	<!---------------用户信息------------------>
	<div class="container serve_box">
		<div class="row">
			<div class="col-xs-3">
				<div class="serve_lf">
					<ul>
						<li>
							<a href="help.html" >准备工作</a>
						</li>
						<li>
							<a href="help_2.html">发起支付</a>
						</li>
						<li>
							<a href="help_test_pay.html" class="ac_s">发起支付（测试）</a>
						</li>
						<li>
							<a href="help_3.html">查询支付结果</a>
						</li>
						<li>
							<a href="help_test_query.html">查询支付结果（测试）</a>
						</li>
						<li>
							<a href="help_4.html">DEMO下载</a>
						</li>
						<li>
							<a href="help_5.html" >商户平台使用</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9">
				<ul>
					<li>
						<div class="input-group">
							<span class="input-group-addon">uid:</span>
							<input type="text" class="form-control" placeholder="请输入uid">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">orderid:</span>
							<input type="text" class="form-control" placeholder="请输入orderid">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">price:</span>
							<input type="text" class="form-control" placeholder="请输入price">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">pay_type:</span>
							<input type="text" class="form-control" placeholder="请输入price">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">pay_name:</span>
							<input type="text" class="form-control" placeholder="请输入price">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">pay_demo:</span>
							<input type="text" class="form-control" placeholder="请输入price">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">sign:</span>
							<input type="text" class="form-control" placeholder="请输入price">
							<span class="input-group-btn">
        						<button class="btn btn-default" type="button">Go!</button>
      						</span>
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">return_url:</span>
							<input type="text" class="form-control" placeholder="请输入price">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">pay_ext1:</span>
							<input type="text" class="form-control" placeholder="请输入price">
						</div>
					</li>
					<li>
						<div class="input-group">
							<span class="input-group-addon">pay_ext2:</span>
							<input type="text" class="form-control" placeholder="请输入price">
						</div>
					</li>
					<li>
						<input type="text" class="form-control" placeholder="请输入你的电话，以便联系您" />
					</li>
					<li>
						<textarea class="form-control" placeholder="反馈意见" style="width: 100%; height:150px;"></textarea>
					</li>
					<li>
						<button class="col-xs-12 btn btn-danger">提交信息</button>
					</li>
				</ul>

			</div>
			
		</div>
	</div>
										

<!---------footer-------------->
<#include "/pay/include/footer.html" />
<#include "/pay/include/hmt.html" />
</body>
</html>













































