<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

	<!---------------用户信息------------------>
	<div class="container serve_box">
		<div class="row">
			<div class="col-xs-3">
				<div class="serve_lf">
					<ul>
						<li>
							<a href="help.html" >准备工作</a>
						</li>
						<li>
							<a href="help_2.html">发起支付</a>
						</li>
						<li>
							<a href="help_3.html">查询支付结果</a>
						</li>
						<li>
							<a href="help_4.html">DEMO下载</a>
						</li>
						<li>
							<a href="help_5.html" class="ac_s">商户平台使用</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="record_ron">
					<h3>车辆信息</h3>
					<div class="table_box">
						<table id="sample-table-1" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>用户名称</th>
									<th>鲁通卡号码</th>
									<th>车牌号码</th>
									<th>近3天</th>
									<th>近7天</th>
									<th>近30天</th>
									<th>上月</th>
									<th>当月</th>
									<th>日通行额度</th>
									<th>通行记录</th>
								</tr>
							</thead>
							<tbody>									
								<tr>
									<td>
										烟台市平顺物流有限公司
									</td>
									<td>
										00126988
									</td>
									<td>
										鲁F216T7
									</td>
									<td>
										<a href="record_check_2.html">9.5</a>
									</td>
									<td>
										<a href="record_check_2.html">33.25</a>
									</td>
									<td>
										<a href="record_check_2.html">109.25</a>
									</td>
									<td>
										<a href="record_check_2.html">90.25</a>
									</td>
									<td>
										<a href="record_check_2.html">33.25</a>
									</td>
									<td>
										<button class="btn btn-xs btn btn-primary" id="set">设定</button>
									</td>
									<td>
										<button class="btn btn-xs btn-danger" onClick="location.href='record_check.html'">查看</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="state">
							<h4>详细查询： </h4>
							<p>1、现全国高速路联网收费，数据上传周期较长，结算账单非以消费日期进行月结算。 </p>
							<p>2、结算账单明细中有可能包含上月消费数据或本月消费数据，属于正常现象。 </p>
							<p>3、已结算的通行明细，不会出现在下个结算账单中，若上月未结算的通行明细，将记入下个结算账单中。 </p>
							<p>4、每月账单出具以交通厅系统出具的上传数据为准，其他查询仅供参考。 </p>
							<p>如有疑问，请致电全国客服专线：4000-798-369 </p>
							<p>消费时间：用于查询通行费用产生的详情 </p>
							<p>结算时间：用于查询结算账单明细对账使用</p>
						</div>
					</div>
				</div>
                <div class="soso">
						<h3>查询</h3>
						<ul>
							<li>
								<h3>按月份查询：</h3>
								<select class="form-control">
									<option>请选择查询方式</option>
									<option>消费时间</option>
									<option>结算时间</option>
								</select>
								<select class="form-control">
									<option>请选择查询车辆</option>
									<option>全部</option>
									<option>鲁FX7960</option>
								</select>
								<button class="btn btn-danger" onClick="location.href='record_check.html'">查询本月</button>
							    <button class="btn btn-danger" onClick="location.href='record_check.html'">查询上月</button>
							</li>
							<li>
								<h3>按时间查询：</h3>
								<select class="form-control">
									<option>请选择查询方式</option>
									<option>消费时间</option>
									<option>结算时间</option>
								</select>
								<select class="form-control">
									<option>请选择查询车辆</option>
									<option>全部</option>
									<option>鲁FX7960</option>
								</select>
								<input type="date" class="form-control">
								<label>至</label>
								<input type="date" class="form-control">
								<button class="btn btn-danger" onClick="location.href='record_check.html'">开始查询</button>
							</li>
							
						</ul>
						<div class="state">
							<h4>其他查询方式： </h4>
							<p>1、关注“金盾网联”微信公众号，输入鲁通卡号查询通行明细（适用于1-3辆车的车主查询）微信号：jdwlkf  </p>
							<p>2、关注“金盾网联”微信公众号，下载最新版本“金盾网联”手机App客户端，绑定鲁通卡号查询通行明细（适用于10辆车以内的车主查询）</p>
						</div>
					</div>				
			</div>
			
		</div>
	</div>
										

<!---------footer-------------->
<#include "/pay/include/footer.html" />
<#include "/pay/include/hmt.html" />
</body>
</html>













































