<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

	<!---------------用户信息------------------>
	<div class="container serve_box">
		<div class="row">
			<div class="col-xs-3">
				<div class="serve_lf">
					<ul>
						<li>
							<a href="help.html" >准备工作</a>
						</li>
						<li>
							<a href="help_2.html">发起支付</a>
						</li>
						<li>
							<a href="help_3.html">查询支付结果</a>
						</li>
						<li>
							<a href="help_4.html" class="ac_s">相关文档下载</a>
						</li>
						<li>
							<a href="help_5.html" >签名算法</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="record_ron">
					<h3><a href="/heimipay_api.doc">黑米支付平台接口文档 V1.2</a></h3>
				</div>

				<div class="record_ron">
					<h3><a href="/heimipay_help.doc">黑米支付商户平台使用手册 V1.3</a></h3>
				</div>

				<div class="record_ron">
					<h3><a href="/heimipay.apk">黑米支付 APP 下载</a></h3>
				</div>

			</div>
			
		</div>
	</div>
										

<!---------footer-------------->
<#include "/pay/include/footer.html" />
<#include "/pay/include/hmt.html" />
</body>
</html>