<!doctype html>
<html>
<head>

<#include "/pay/include/head.html" />

</head>

<body>
	<#include "/pay/include/header.html" />
	
	<!------------banner---------->
	<#include "/pay/include/banner.html" />
	
	<!-------主体------------->
	
	<div class="container">
		<div class="title">
			<h1>无需签约支付宝、微信</h1>
			<p>只需个人账户即可开通收款，无需成为支付宝、微信商家。</p>
			<br>
			<p>
				<button class="btn btn-success" onClick="help_info();"> &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;详 细 说 明&nbsp;     &nbsp;     &nbsp;  &nbsp;     &nbsp;         </button>
				<button class="btn btn-danger" onClick="window.location.href='/pay/enroll.html'"> &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;免 费 注 册 &nbsp;     &nbsp;     &nbsp;  &nbsp;     &nbsp;        </button>
			</p>
		</div>


		<div class="col-xs-12">
			<div class="title_3">
				<h3>支付对接流程说明</h3>
				<div class="list_line "></div>
				<p>1.注册商户，配置微信，支付宝收款码，回调等信息 <a href="/pay/work/index.html">进入商户配置</a></p>
				<p>2.根据接入文档，对接各种支付接口，完成支付对接  <a href="/pay/work/index.html">进入接入文档</a></p>
				<p>3.安装黑米收款通知APP，并完成APP相关权限设置 <a href="/pay/appset.html">进入APP设置</a></p>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="title_3">
				<h3>小额支付流程体验</h3>
				<div class="list_line "></div>
				<p>我们平台本身采用的也是个人支付接口，通过小额支付，可以快速测试我们接口的支付流程及支付界面</p>
				<p>接入成功后，收款码会变成您个人的收款码，款项直入您支付宝微信账户，并即时回调</p>
				<p>
					<button class="btn btn-info" onClick="test(1);">支 付 宝 小 额 支 付 测 试</button>
					<button class="btn btn-success" onClick="test(2);">微 信 小 额 支 付 测 试</button>
				</p>

			</div>
		</div>

		<div class="col-xs-12">
			<div class="title_3">
				<h3>快捷商品支付流程体验</h3>
				<div class="list_line "></div>
				<p>快捷商品支付是我们推出的快速对接商品，快速完成商品下单记录，支付等环节的产品</p>
				<p>我们配置了一个小额支付的快捷商品，您可以用支付宝或微信扫码下面的二维码完成测试体验</p>

				<p>
					<img width="200px" src="/api/pay/payprod/prod_qr_img?prodid=testprod"/>
				</p>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="title_3">
				<h3>商户充值</h3>
				<div class="list_line "></div>
				<p>商户充值也是采用的我们的个人支付接口，充值一笔试试吧？</p>

			</div>
		</div>
		<div class="table_box">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>充值金额</th>
					<th>赠送比例</th>
					<th>实际到账金额</th>
					<th>支付宝充值</th>
					<th>微信充值</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						￥10
					</td>
					<td>
						0%
					</td>
					<td>
						￥10.00 元
					</td>

					<td>
						<button class="btn btn-info" onClick="recharge(1,10);">充值￥10</button>
					</td>
					<td>
						<button class="btn btn-success" onClick="recharge(2,10);">充值￥10</button>
					</td>
				</tr>

				<tr>
					<td>
						￥50
					</td>
					<td>
						5%
					</td>
					<td>
						￥52.50 元
					</td>

					<td>
						<button class="btn btn-info" onClick="recharge(1,50);">充值￥50</button>
					</td>
					<td>
						<button class="btn btn-success" onClick="recharge(2,50);">充值￥50</button>
					</td>
				</tr>

				<tr>
					<td>
						￥100
					</td>
					<td>
						10%
					</td>
					<td>
						￥110.00 元
					</td>

					<td>
						<button class="btn btn-info" onClick="recharge(1,100);">充值￥100</button>
					</td>
					<td>
						<button class="btn btn-success" onClick="recharge(2,100);">充值￥100</button>
					</td>
				</tr>
				</tbody>
			</table>

		</div>

	</div>
	
	
	
<!---------footer-------------->
<#include "/pay/include/footer.html" />
	<#include "/pay/include/hmt.html" />


	<script>
        /**
         * 充值
         */
        function recharge(pay_type,price){
            var loading1 = layer.load();
            var post={
                type: 'post',
                url: '/api/pay/recharge/createpay?pay_type='+pay_type+"&price="+price+"&d="+new Date().getTime(),
                async:true,
                cache:false,
                dataType:'json',
                success: function(data) {
                    layer.closeAll('loading');
                    if(data.success){
                        layer.open({
                            type: 2,
                            title: '商户充值',
                            maxmin: false,
                            shadeClose: true,
                            area : ['600px' , '750px'],
                            content: data.data
                        });

                    }else{
                        layer.alert(data.msg,{icon: 5});
                    }
                },
                error:function(){
                    layer.closeAll('loading');
                    layer.alert("系统繁忙，请稍候再试");
                }
            }

            $.ajax(post);
            setTimeout(function(){
                layer.close(loading1);
            }, 5000);
        }

        /**
         * 小额支付测试
         */
        function test(pay_type){
            var loading1 = layer.load();
            var post={
                type: 'post',
                url: '/api/pay/recharge/createtest?pay_type='+pay_type+"&d="+new Date().getTime(),
                async:true,
                cache:false,
                dataType:'json',
                success: function(data) {
                    layer.closeAll('loading');
                    if(data.success){
                        layer.open({
                            type: 2,
                            title: '小额支付测试',
                            maxmin: false,
                            shadeClose: true,
                            area : ['600px' , '750px'],
                            content: data.data
                        });
                    }else{
                        layer.alert(data.msg,{icon: 5});
                    }
                },
                error:function(){
                    layer.closeAll('loading');
                    layer.alert("系统繁忙，请稍候再试");
                }
            }
            $.ajax(post);
            setTimeout(function(){
                layer.close(loading1);
            }, 5000);
        }

        /**
		 * 详细说明
         */
        function help_info(){
            layer.open({
                type: 2,
                title: '详细说明',
                maxmin: false,
                shadeClose: true,
                area : ['600px' , '600px'],
                content: '/pay/index_help.html'
            });
        }




	</script>

</body>
</html>
