<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>为什么无需签约支付宝、微信</title>
    <link href="/pay/css/pay1.css" rel="stylesheet" media="screen">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<style>
    .my-text {
         display: inline-block;
         vertical-align: middle;
         text-align: left;
         margin-left: 15px;
         font-size: 14px;
         line-height: 28px;
         *display: inline;
         *zoom: 1
     }

    .my-text2 {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        margin-left: 15px;
        font-size: 16px;
        line-height: 28px;
        *display: inline;
        *zoom: 1
    }
</style>


<body>
<div class="body">
    <h1 class="mod-title"  style="font-size:28px;">

        <div class="amount" >为什么无需签约支付宝、微信</div>

    </h1>

    <div class="mod-ct">
        <div class="order">
        </div>


        <div class="my-text">
            支付宝和微信早已不再支持个人接入即时到账收款接口。但是，使用我们的接口，您只需拥有支付宝、微信个人账户，就可以完成即时到账收款接口，并能实时通知到您的自定义网址。
            <br>
            <br>
        </div>

        <div class="my-text2">
            <p> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  收款人需要1台安卓手机，无需Root，安装我们的APP。付款人不需要装App。<p>

            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>   确保您资金账户安全。无需在我们APP中登录支付宝、微信，只要您手机里安装了支付宝、微信APP即可。<p>

            <p> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  支付流程顺畅。网速正常情况，从用户付款到您后台收到收款通知，过程不到2秒<p>
            <br>
        </div>



        <button class="btn btn-success btn-block" onClick="parent.layer.closeAll();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 好的，知道了</button>



        <div class="tip-text">
        </div>


    </div>

</div>

<#include "/pay/include/hmt.html" />
</body>
</html>