<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>测试完成</title>
    <link href="/pay/css/pay1.css" rel="stylesheet" media="screen">


    <link rel="icon" type="image/x-icon" href="/pay/images/favicon.ico">
</head>

<body>
<div class="body">
    <h1 class="mod-title">
        <#if pay_type == 1>
            <span class="ico_log ico-1"></span>
            <#else>
                <span class="ico_log ico-3"></span>
        </#if>
    </h1>

    <div class="mod-ct">
        <div class="order">
        </div>
        <div class="amount" id="errormsg">${msg}</div>

        <div class="tip-text">
        </div>


        <div class ="payweixinbtn" style = "padding-top: 35px"><a href="#" onclick="parent.layer.closeAll();" class="btn btn-primary" >点击返回</a></div>

        <div class="tip-text">
        </div>


    </div>

</div>

<#include "/pay/include/hmt.html" />
</body>
</html>