<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />
	
	<!------------banner---------->
	<#include "/pay/include/banner.html" />

	<!-------主体------------->
	<!-- pricing tables start -->

							
	<div class="container">
				<div class="col-xs-12">
					<div class="title_3">
						<h3>资费套餐选择</h3>
						<div class="list_line "></div>
						<p>三款套餐，哪一款最适合您？</p>
					</div>
				</div>
					<div class="table_box">
						<table id="sample-table-1" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>套餐名称</th>
									<th>功能</th>
									<th>技术支持</th>
									<th>手续费</th>
									<th>敢赔保障金</th>
									<th>包月费用</th>
								</tr>
							</thead>
							<tbody>									
								<tr>
									<td>
										基础版
									</td>
									<td>
										全功能
									</td>
									<td>
										系统接入指导
									</td>
									
									<td>
										0.3%
									</td>
									<td>
										￥3000
									</td>
									<td>
										￥19.99元/月<button class="btn btn-xs btn-danger" onClick="openTaoCan(1);">开 通</button>
									</td>

								</tr>

								<tr>
									<td>
										高级版
									</td>
									<td>
										全功能
									</td>
									<td>
										系统接入指导
									</td>
									
									<td>
										0.2%
									</td>
									<td>
										￥6000
									</td>
									<td>
										￥39.99元/月<button class="btn btn-xs btn-danger" onClick="openTaoCan(2);">开 通</button>
									</td>

								</tr>

								<tr>
									<td>
										专业版
									</td>
									<td>
										全功能
									</td>
									<td>
										系统接入指导
									</td>
									
									<td>
										0.1%
									</td>
									<td>
										￥10000
									</td>
									<td>
										￥59.99元/月<button class="btn btn-xs btn-danger" onClick="openTaoCan(3);">开 通</button>
									</td>

								</tr>
							</tbody>
						</table>
						<div class="state">
							<h4>包月费用： </h4>
							<p>包月费用是指每月从账户中扣除的费用，如费用不足，请先 <a href="/pay/recharge.html">充值 </a> 。</p>
							<p>开通套餐有效期只有一个月，如果需要每月自动扣费，则在 <a href="/pay/work/index.html">商户设置</a> 中进行进行自动续费的设置。</p>
							<h4>手续费： </h4>
							<p>手续费是收款成功后，直接从账户中扣除的手续费，如果账户中费用不足，则无法发起支付，请保证账户余额充足。</p>
							<p>支付成功通知才收取手续费。支付金额小于1元的订单免手续费，支付手工确认收款的订单免手续费。</p>
							<p>同时支持自行开发APP进行收款确认，自行开发APP调用我们的接口进行收款确认的免手续费。方便后续各种业务扩展。</p>
							<h4>敢赔保障金： </h4>
							<p>您敢用，我敢赔，只要能证明是要由于黑米支付平台造成的收款损失，我们将提供赔付保障。 </p>
						</div>
					</div>
				
		</div>


<script>

    /**
     * 开通套餐
     */
    function openTaoCan(busType){
        //layer.msg('套餐开通成功',{icon: 1});
        //layer.alert('套餐开通成功',{icon: 1});
        //return;
        //判断输入框内容是否完整
        var loading1 = layer.load();
        var post={
            type: 'post', // 提交方式 get/post
            url: '/api/pay/paybus/openTaoCan?busType='+busType, // 需要提交的 u
            async:true,
            cache:false,
            dataType:'json',
            success: function(data) {
                layer.closeAll('loading');
                if(data.success){
                    layer.alert('套餐开通成功',{icon: 1});
                    //layer.msg('套餐开通成功',{icon: 1});
                }else{
                    layer.alert(data.msg,{icon: 5});
                }
            },
            error:function(){
                layer.closeAll('loading');
                layer.alert("系统繁忙，请稍候再试");
            }
        }

        $.ajax(post);
        //此处演示关闭
        setTimeout(function(){
            layer.close(loading1);
        }, 5000);

    }



</script>
	
	
<!---------footer-------------->
<#include "/pay/include/footer.html" />
</body>

</html>
