
<!---------footer-------------->
<div class="footer ">
	<div class="container box">
    	<div class="row">
        	<div class="col-xs-4">
            	<h4>关于我们</h4>
                <a>
				黑米支付是由原支付宝，微信，银联支付等支付团队核心技术人员联合组建的开发团队，立志打造高效，快捷，安全的个人快捷支付通道，为个人创业提供简单，高效的快捷支付接入方式，解决个人网站，游戏，APP等项目运营中的收款问题。
				</a>
            </div>
            <div class="col-xs-4">
            	<h4>友情链接</h4>
                <a href="/mir/index.html" target=_blank>夜火传奇网</a>
                <a href="https://open.alipay.com/" target=_blank>支付宝支付开放平台</a>
                <a href="https://pay.weixin.qq.com/" target=_blank>微信支付开放平台</a>
            </div>
            <div class="col-xs-4  text-center">
				
           		<div class="pull-left ig_d">
					<h4>下载APP</h4>
                	<img src="/pay/images/mg.png" />
				</div>
            	

            </div>
        </div>
    </div>
    <div class="copyright">
    	<div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span></span>
                    <span>©2014-2019 黑米支付开发团队 版权所有</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //统计代码

</script>






































