<meta charset="utf-8">
<title>黑米支付 - 个人支付收款黑科技 | 即时到账 | 快捷商品支付  </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="个人网站支付收款;微信支付收款;支付宝支付收款;个人网站收款平台" />
<meta name="description" content="专为个人收款而生的支付收款工具。为支付宝、微信支付的个人账户，提供即时到账收款API接口。提供快捷商品支付，安全可靠，费率低。">
<script src="/pay/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/pay/js/jquery.cookie.js"></script>

<script src="/pay/js/banner.js"></script>
<script src="/pay/layer/layer.js"></script>
<script src="/js/user.js"></script>

<link href="/pay/css/bootstrap.css" rel="stylesheet" type="text/css" />

<link href="/pay/css/css.css" rel="stylesheet" type="text/css" />
<link href="/pay/css/styles.css" rel="stylesheet" type="text/css" >
<link href="/pay/css/animate.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" type="image/x-icon" href="/pay/images/favicon.ico">