<meta charset="utf-8">
<title>黑米支付-个人支付收款黑科技</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="个人网站支付;微信支付;支付宝支付收款;第四方支付平台" />
<meta name="description" content="专为个人收款而生的支付工具。为支付宝、微信支付的个人账户，提供即时到账收款API接口。安全可靠，费率低。">

<link rel="stylesheet" type="text/css" href="/lib/iview/iview.css">
<link rel="stylesheet" type="text/css" href="/css/global.css">
<link href="/pay/css/bootstrap.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="/js/vue.js"></script>
<script type="text/javascript" src="/js/zepto.min.js"></script>
<script type="text/javascript" src="/lib/iview/iview.min.js"></script>
<script type="text/javascript" src="/lib/iview/locale/zh-CN.js"></script>


<script src="/pay/js/jquery-1.9.1.min.js"></script>
<script src="/pay/layer/layer.js"></script>

<link rel="icon" type="image/x-icon" href="/pay/images/favicon.ico">