<!DOCTYPE html>
<html>
<head>
     <title>角色管理_明细</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
	
	<link rel="stylesheet" type="text/css" href="/lib/iview/iview.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	
	<script type="text/javascript" src="/js/vue.js"></script>
	<script type="text/javascript" src="/js/zepto.min.js"></script>
	<script type="text/javascript" src="/lib/iview/iview.min.js"></script>
	<script type="text/javascript" src="/js/vue-components.js"></script>
	<script type="text/javascript" src="/js/public.js"></script>
</head>
<body>
<div id="app">
    <i-form ref="myForm" :model="myform" :rules="ruleValidate" :label-width="80">
        <Form-item label="角色名称" prop="rolename">
            <i-input v-model="myform.rolename" placeholder="请输入"></i-input>
        </Form-item>
        <Form-item label="角色编码" prop="rolecode">
            <i-input v-model="myform.rolecode" placeholder="请输入"></i-input>
        </Form-item>
        <Form-item label="角色类型" prop="roletype">
            <i-select v-model="myform.roletype" :value="myform.roletype">
                <i-option value=0>普通角色</i-option>
                <i-option value=1>管理员角色</i-option>
            </i-select>
        </Form-item>
        <Form-item label="状态" prop="rolestate">
            <i-switch v-model="myform.rolestate" size="large" :true-value="1" :false-value="0">
                <span slot="open">有效</span>
                <span slot="close">无效</span>
            </i-switch>
        </Form-item>
    </i-form>
</div>
<script>


    const urls = {
        query:'/api/sys/sysrole/query'
        ,save:'/api/sys/sysrole/save'
    };

    let vm = new Vue({
        el: '#app',
        data() {
            return {
                myform: {
                    roletype:0,
                    rolestate: 1,
                    id:null//主键
                },
                ruleValidate: {
                    //prodId: [
                    //    {required: true, message: '产品ID不能为空', trigger: 'blur'}
                    //]
                }
            }
        },
        created(){
            if (PB.getPara('id')) {
                this.myform.id = PB.getPara('id');
                this.loadData();
            }
        },
        methods: {
            loadData(){
                let that = this;
                PB.ajax({url:urls.query,data:this.myform}, function (d) {
                    that.myform = d.data;
                    //这里好垃圾，要自己转换
                    that.myform.roletype=that.myform.roletype+""
                    //that.myform.rolestate;
                });
            },
            save () {
                this.$refs['myForm'].validate((valid) => {
                    if (valid) {
                        PB.ajax({url:urls.save,data:this.myform}, function (d) {
                            PB.formPageSaveOK(d);
                            });
                    } else {
                        PB.alert('表单验证失败!');
                        PB.formPageSaveError();
                    }
                })
            }
        }
    });


    function save() {
        vm.save();
    }

</script>
</body>
</html>
