
<!---------footer-------------->
<div class="footer ">
	<div class="container box">
    	<div class="row">
        	<div class="col-xs-4">
            	<h4>关于我们</h4>
                <a>
				夜火传奇是我们多个传奇老玩家，爱好者根据韩服传奇资料片（半兽人崛起）内容改编而成，融合了国服传奇的一些资料，玩法，同时立志研发更多新功能与玩法，提升游戏乐趣。
                    <br>欢迎广大玩家，爱好者给我们提供更多游戏建议。
				</a>
            </div>
            <div class="col-xs-4">
            	<h4>友情链接</h4>
                <a href="http://www.mir2db.com/" target=_blank>韩版传奇资料</a>
                <a href="http://mir2.sdo.com/" target=_blank>盛大传奇官网</a>
            </div>
            <div class="col-xs-4  text-center">

                <h4>游戏下载</h4>
                <a href="/mir/down.html" >客户端下载</a>


            </div>
        </div>
    </div>
    <div class="copyright">
    	<div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span></span>
                    <span>©2014-2019 夜火传奇小组联合研发</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //统计代码

</script>






































