<meta charset="utf-8">
<title>夜火传奇 - 5职业平衡 | 寻找新的游戏乐趣 | 回归当年的热血  </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="5职业平衡，多职业，多玩法夜火传奇" />
<meta name="description" content="5职业平衡，多职业，多玩法夜火传奇">

<link rel="stylesheet" type="text/css" href="/lib/iview/iview.css">
<link rel="stylesheet" type="text/css" href="/css/global.css">
<link href="/pay/css/bootstrap.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="/js/vue.js"></script>
<script type="text/javascript" src="/js/zepto.min.js"></script>
<script type="text/javascript" src="/lib/iview/iview.min.js"></script>
<script type="text/javascript" src="/lib/iview/locale/zh-CN.js"></script>


<script src="/pay/js/jquery-1.9.1.min.js"></script>
<script src="/pay/layer/layer.js"></script>

<link rel="icon" type="image/x-icon" href="/mir/miricon.ico">