<meta charset="utf-8">
<title>夜火传奇 - 5职业平衡 | 寻找新的游戏乐趣 | 回归当年的热血  </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="5职业平衡，多职业，多玩法夜火传奇" />
<meta name="description" content="5职业平衡，多职业，多玩法夜火传奇">
<script src="/pay/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/pay/js/jquery.cookie.js"></script>

<script src="/pay/js/banner.js"></script>
<script src="/pay/layer/layer.js"></script>

<link href="/pay/css/bootstrap.css" rel="stylesheet" type="text/css" />

<link href="/pay/css/css.css" rel="stylesheet" type="text/css" />
<link href="/pay/css/styles.css" rel="stylesheet" type="text/css" >
<link href="/pay/css/animate.min.css" rel="stylesheet" type="text/css" />

<link rel="icon" type="image/x-icon" href="/mir/miricon2.ico">