<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>
<#include "/pay/include/header.html" />

	<!---------------导航------------------>
	<div class="container serve_box">
		<div class="row">
			<div class="col-xs-3">
				<div class="serve_lf">
					<ul>
						<li>
							<a href="#" tsrc="/pay/work/user_info.html" id="link_1" class="ac_s" onclick="changeac(this);">商户基础信息</a>
						</li>
						<li>
							<a href="#" tsrc="/pay/work/user_set.html" id="link_2" onclick="changeac(this);">商户设置</a>
						</li>
						<li>
							<a href="#" tsrc="/pay/work/pay_prod_list.html" id="link_3" onclick="changeac(this);">支付商品设置</a>
						</li>
						<li>
							<a href="#" tsrc="/pay/work/pay_log_list.html" id="link_4" onclick="changeac(this);">支付记录</a>
						</li>
						<li>
							<a href="#" tsrc="/pay/work/pay_list.html" id="link_5" onclick="changeac(this);">充值记录</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9">
				<iframe id="mian" name="mian" src="/pay/work/user_info.html" width="100%" height="600" frameborder="0"></iframe>
			</div>
			
		</div>
	</div>
										

<!---------footer-------------->
<#include "/pay/include/footer.html" />


<script type="text/javascript">
	function changeac(obj){
        $("#link_1").attr({"class" : ""});
        $("#link_2").attr({"class" : ""});
        $("#link_3").attr({"class" : ""});
        $("#link_4").attr({"class" : ""});
        $("#link_5").attr({"class" : ""});
        $(obj).attr({"class" : "ac_s"});
        var link =  $(obj).attr("tsrc");
        $("#mian").attr({"src" : link});
	}
</script>
</body>
</html>













































