<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>

<div class="state" style="padding-left: 10px">
	<h4>1.快捷商品是不是必须的？ </h4>
	快捷商品不是必须的，如果采用支付接口进行系统编码对接，则可不配置快捷商品。
	<br>
	<h4>2.什么时候使用快捷商品，有什么用？</h4>
	快捷商品是针对不需要对接的场景，通过配置快捷商品，可以快速生成代码，直接复制代码到自己的网站中即可集成支付，不需要对接接口。
	<br>
	<h4>3.使用快捷商品有什么好处，坏处？</h4>
	优点：快捷商品可以快速对接您的某个商品完成商品下单支付流程。
	<br>
	缺点：快捷商品必须为每个商品单独配置快捷商品，同时对您商品的订单，支付页面等无法定制个性的内容。
	<br>
	<h4>4.使用快捷商品，还需要配置收款码等信息么？</h4>
	需要的，快捷商品最终支付也是用您配置的收款码，也是需要安装APP等，只是支付接口代码对接完全在我们平台完成而已。
	<br>
	具体的，可以配置一个快捷商品进行测试哦，配置好收款码，安装好APP即可直接对快捷商品进行支付，并可以在我们平台查看订单。

</div>



										


</body>

<#include "/pay/include/hmt.html" />
</html>













































