<!doctype html>
<html>
<head>
	<#include "/pay/include/head.html" />
</head>

<body>

<div class="state">
	<h4>1.上传收款码格式 </h4>
	支持jpg,jpeg,png等格式的收款二维码图片上传.
	<br>
	请使用微信，支付宝中的收款码保存图片功能保存的图片.
	<h4>2.收款码适用价格</h4>
	例如订单收款金额是10元，那么适配的收款码价格则是9.90-10.00元，最多可以适配11张二维码
	<br>
	尽量上传更多的定额收款码，可以提高收款的并发
	<br>
	如果订单金额是10元，可能会使用9.98的收款码进行收款，请知晓~！
	<br>
	系统会优先使用最接近订单金额的收款码进行收款
	<h4>3.没有上传对应金额的收款码会怎样</h4>
	如果没有上传合适金额的收款码，进行收款，则会使用非定额的收款码收款。
	<br>
	非定额的收款码收款，需要用户自行输入金额，并且不支持并发
	<br>
	所以为了使用方便，以及更好的并发，对账等，请每个收款金额尽量多上传定额收款码


</div>



										


</body>
</html>













































