<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>黑米支付-个人支付收款黑科技</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="个人网站支付;微信支付;支付宝支付收款;第四方支付平台" />
	<meta name="description" content="专为个人收款而生的支付工具。为支付宝、微信支付的个人账户，提供即时到账收款API接口。安全可靠，费率低。">

	<link rel="stylesheet" type="text/css" href="/lib/iview/iview.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link href="/pay/css/bootstrap.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="/js/vue.js"></script>

	<script type="text/javascript" src="/js/zepto.min.js"></script>

	<script type="text/javascript" src="/lib/iview/iview.min.js"></script>

	<script type="text/javascript" src="/lib/iview/locale/zh-CN.js"></script>

	<script type="text/javascript" src="/js/vue-components.js"></script>

	<script type="text/javascript" src="/js/public.js"></script>

	<script src="/pay/js/jquery-1.9.1.min.js"></script>


	<link rel="icon" type="image/x-icon" href="/pay/images/favicon.ico">
	<style>


	</style>
</head>

<body>

<div class="user_in" id="app">
	<i-form ref="myForm" :model="myform" :rules="ruleValidate" :label-width="10">
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<tbody>
			<tr height="35px">
				<td width="15%">
					商户uid:
				</td>
				<td width="35%">
					{{myform.uuid}}
				</td>
				<td width="15%">
					商户账号:
				</td>
				<td width="35%">
					{{myform.useracc}}
				</td>
			</tr>
			<tr>
				<td>
					商户sign_key:
				</td>
				<td>
					{{myform.signKey}}
				</td>
				<td>
					商户名称:
				</td>
				<td>
					{{myform.nikename}}
				</td>
			</tr>
			<tr>
				<td>
					回调地址:
				</td>
				<td colspan=3>
					{{myform.notifyUrl}}
				</td>

			</tr>
			<tr>

				<td>
					跳转地址:
				</td>
				<td colspan=3>
					{{myform.gobackUrl}}
				</td>
			</tr>


			<tr>
				<td>
					email地址:
				</td>
				<td>
					{{myform.email}}
				</td>
				<td>
					QQ号码:
				</td>
				<td>
					{{myform.qq}}
				</td>
			</tr>

			<tr>
				<td>
					当前套餐:
				</td>
				<td>
					基础套餐
				</td>
				<td>
					套餐有效期:
				</td>
				<td>
					2018-11-11
				</td>
			</tr>

			</tbody>
		</table>



</div>


</body>

	<script>
        var urls = {
            query:'/api/sys/sysuser/queryCurrUser'
            ,save:'/api/sys/sysuser/saveCurrUser'
        };

        var vm = new Vue({
            el: '#app',
            data:{
				myform: {
					isState:true,
					state: 1,
					restype:1,
					id:null,//主键
					test:""
				},
				ruleValidate: {
					email: [
						{ required: true, message: '请输入邮箱地址', trigger: 'blur' },
						{ type: 'email', message: '邮箱地址格式不对', trigger: 'blur' }
					],
					qq: [
						{ required: false, message: '请输入QQ号码', trigger: 'blur' },
						{ type: 'string', message: 'QQ号码格式不对', trigger: 'blur',pattern: /^[0-9]+$/ }
					],
					notifyUrl: [
						{ required: true, message: '请输入回调地址', trigger: 'blur' },
						{ type: 'url', message: '回调地址必须是http://格式的地址', trigger: 'blur' }
					],
					gobackUrl: [
						{ required: true, message: '请输入跳转地址', trigger: 'blur' },
						{ type: 'url', message: '跳转地址必须是http://格式的地址', trigger: 'blur' }
					]
				}
            },
            created:function(){
                this.loadData();
            },
            methods: {
                loadData:function(){
                    $.ajax(
                        {
                            type: 'post', // 提交方式 get/post
                            url:urls.query, // 需要提交的 u
                            async:true,
                            cache:false,
                            dataType:'json',
                            success: function(ret){
                                if(ret.success){
                                    vm.myform = ret.data;
                                }else{
                                    alert("您还没登录，或登录超时，请重新登录");
                                    window.top.location.href="/pay/login.html";
                                }
                            },
                            error:function(){
                                alert("系统错误，请稍候再试");
                            }
                        });
                },
                save:function(){
                    var valid = this.$refs['myForm'].validate();
                    //alert(valid);
                    PB.ajax({url:urls.save,data:this.myform}, function (d) {
                        PB.alert('保存成功!','success');
                    });
                }
            }
        });




	</script>
</html>
