<!doctype html>
<html>
<head>

	<link href="/mir/css/mirclientstyle.css" rel="stylesheet" type="text/css">
</head>

<body >
<div class="Layers">
	<div class="Backgound">

		<div class="Left_Container">
			<div class="Updates">
				<h2>版本更新 2.1.4.0 </h2>
				<ul>
					<li>修复寄卖系统BUG</li>
					<li>修复邮件系统BUG</li>
					<li>添加万能NPC，方便卖装备</li>
				</ul>

				<h2> 版本更新 2.1.3.0 </h2>
				<ul>
					<li>添加/修正部分怪物显示模型</li>
					<li>添加/修正部分怪物声音</li>
					<li>修复部分怪物AI</li>
				</ul>

				<h2> 版本更新 2.1.2.0 </h2>
				<ul>
					<li>添加内挂辅助F12功能</li>
					<li>添加大地图自动寻路功能</li>
				</ul>

			</div>

		</div>

		<div class="Right_ContainerTOP">
			<h4> </h4>
			<p2> </p2>
		</div>

		<div class="Right_ContainerMIDDLE">
			<h4> </h4>
			<p2> </p2>
		</div>

		<div class="Right_ContainerBOTTOM">
			<h4>最新完整客户端下载</h4>
			<p2>
				如客户端出现问题<br>请下载最新版客户端<br>
				<a href="http://47.106.70.111:8090/mir/down.html" target="_blank">点击下载</a>
			</p2>
		</div>


	</div>
</div>

<div class="Social_FB"></div>
<div id="feedly-mini" title="feedly Mini tookit"></div>

</body>
</html>
