<!doctype html>
<html>
<head>

	<#include "/mir/include/head.html" />

</head>

<body>
<#include "/mir/include/header.html" />

<!------------banner---------->
<#include "/mir/include/banner.html" />

<!-------主体------------->

<div class="container">
	<div class="title">
		<h1>完整客户端下载</h1>
		<p>本服客户端资料重新整理，不依赖官服客户端，为绿色客户端，只要下载压缩包，解压即可畅玩。</p>

		<p> </p>
		<p><a href="https://pan.baidu.com/s/18EicYH_ESK2WQrOPKdILEQ" target="_blank">网盘下载点</a> </p>
		<p>加QQ群下载 <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=060d4eba7c396071ec1ae4bd7d5e02a26d6e2c22d401fdcfd3dbb33cbfedc36d"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="夜火传奇" title="夜火传奇"></a> </p>
	</div>


	<div class="title">
		<h1>系统环境安装</h1>
		<p>本服客户端引擎基于微软.NET4.0与微软DirectX研发，因此客户端需要安装.NET与DirectX</p>
		<p> </p>
		<p><a href="https://pan.baidu.com/s/1ByF1vVgIcO1nzJ3u1_0WRQ" target="_blank">网盘下载点</a>   </p>
		<p>加QQ群下载 <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=060d4eba7c396071ec1ae4bd7d5e02a26d6e2c22d401fdcfd3dbb33cbfedc36d"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="夜火传奇" title="夜火传奇"></a> </p>

	</div>





</div>



<!---------footer-------------->
<#include "/mir/include/footer.html" />
<#include "/mir/include/hmt.html" />



</body>
</html>
