<!doctype html>
<html>
<head>

	<#include "/mir/include/head.html" />

</head>

<body>
<#include "/mir/include/header.html" />

<!------------banner---------->
<#include "/mir/include/banner.html" />

<!-------主体------------->

<div class="container">
	<div class="title">
		<h1>完整客户端下载</h1>
		<p>本服为绿色客户端，只要下载压缩包，解压即可畅玩。</p>

		<p> </p>
		<p><a href="http://www.onlinedown.net/soft/34492.htm" target="_blank">网盘下载点1</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.onlinedown.net/soft/34492.htm" target="_blank">网盘下载点2</a></p>
	</div>


	<div class="title">
		<h1>.NET系统环境安装</h1>
		<p>本服客户端引擎基于微软.NET4.0研发，因此客户端需要安装.NET</p>
		<p>系统中没有安装微软.NET4.0的请下载安装，安装过的则无需安装</p>
		<p> </p>
		<p><a href="http://www.onlinedown.net/soft/34492.htm" target="_blank">网盘下载</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.onlinedown.net/soft/34492.htm" target="_blank">第三方网站下载</a></p>
	</div>





</div>



<!---------footer-------------->
<#include "/mir/include/footer.html" />
<#include "/mir/include/hmt.html" />



</body>
</html>
