<!doctype html>
<html>
<head>

	<#include "/mir/include/head.html" />

</head>

<body>
<#include "/mir/include/header.html" />

<!------------banner---------->
<#include "/mir/include/banner.html" />

<!-------主体------------->

<div class="container">
	<div class="col-xs-12">

		<div class="title_3">
			<h3>版本说明</h3>
			<div class="list_line "></div>

		</div>
		<table class="table table-striped table-bordered table-hover">
			<tbody>
			<tr>
				<td valign="left" aligin="left">
					版本介绍： 本服基于韩服传奇资料片（半兽人崛起）内容改编而成，经典的五职业版本，整合国服的玩法
				</td>

			</tr>
			<tr>
				<td>
					装备说明：本服集合了国服与韩服的装备资料，装备超多，属性和官方类似，不变态。
				</td>
			</tr>
			<tr>
				<td>
					商城说明：本服所有装备均通过打怪爆出，进图无元宝要求，商城只出售辅助类物品，比如时装，回城石等。
				</td>
			</tr>
			<tr>
				<td>
					升级平滑：本服目前终极技能是48级，前面40级升级还是比较快的，下调了升级经验，升级经验比较平滑
				</td>

			</tr>
			<tr>
				<td>
					职业平衡：本服基于韩服五职业研发，加强了部分刷怪升级技能，调整了职业PK技能，无特戒，职业更平衡
				</td>
			</tr>
			<tr>
				<td>
					强力封挂：全新.NET封挂引擎，封包加密技术，根源上杜绝了外挂的的出现
				</td>
			</tr>
			<tr>
				<td>
					喝药介绍：本服不出售快速恢复药品，杜绝无脑顶药PK,当然，快速恢复药品打怪有几率爆出
				</td>
			</tr>
			<tr>
				<td>
					金币回归：本服大部分物品均可金币购买，金币在本服要比元宝好用哦。
				</td>
			</tr>
			</tbody>
		</table>

	</div>


	<div class="col-xs-12">
		<div class="title_3">
			<h3>韩服入门知识介绍（百度贴吧资料）</h3>
			<div class="list_line "></div>

		</div>
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<tbody>
			<tr>
				<td>
					综合知识贴，了解韩服背景，内容多，推荐
				</td>
				<td>
					<a href="https://tieba.baidu.com/p/5404131210?pn=1" target="_blank">进入了解</a>
				</td>
			</tr>
			<tr>
				<td>
					韩服与盛大的一些区别，当年1.76之后，盛大与韩服就分家了。后面的百日门，魔龙等其实都是韩服早就有的，不过拿过来改了.<br>比如韩服就没有赤月级装备，魔龙系列在韩服属性非常低等等，当然我们也把盛大的装备加了进来，做了装备整合调整
				</td>
				<td>
					<a href="https://tieba.baidu.com/p/4807538666?pn=1" target="_blank">进入了解</a>
				</td>
			</tr>
			<tr>
				<td>
					韩服全地图资料，超多地图，当然，我们服对地图做了部分调整，增加了一些玩法
				</td>
				<td>
					<a href="https://tieba.baidu.com/p/4139234131?red_tag=2474565943" target="_blank">进入了解</a>
				</td>
			</tr>
			<tr>
				<td>
					韩服数据综合资料站,这里有韩服绝大部分的数据，参考价值较高， 推荐收藏。
				</td>
				<td>
					<a href="http://www.mir2db.com/" target="_blank">进入了解</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>




</div>

<script>
    /**
     * 详细说明
     */
    function help_info(){
        layer.open({
            type: 2,
            title: '夜火传奇新区开启-欢迎加入游戏Q群670847004',
            maxmin: false,
            shadeClose: true,
            area : ['600px' , '500px'],
            content: '/mir/ad.html'
        });
    }


    $().ready(function(){
        help_info();
    });

</script>

<!---------footer-------------->
<#include "/mir/include/footer.html" />
<#include "/mir/include/hmt.html" />



</body>
</html>
