<!doctype html>
<html>
<head>

	<#include "/mir/include/head.html" />

</head>

<body>
<#include "/mir/include/header.html" />

<!------------banner---------->
<#include "/mir/include/banner.html" />

<!-------主体------------->

<div class="container">



	<div class="col-xs-12">
		<div class="title_3">
			<h3>夜火传奇攻略</h3>
			<div class="list_line "></div>

		</div>
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<tbody>
			<tr>
				<td>
					1
				</td>
				<td>
					尸王殿跑法（尸王殿是低级刷技能书最好的地方，2小时刷一批尸王，爆各种技能书）
				</td>
				<td>
					<a href="https://docs.qq.com/doc/DVEhmS0VlZFRzS1BM" target="_blank">进入了解</a>
				</td>
			</tr>

			<tr>
				<td>
					2
				</td>
				<td>
					魔龙城适合35级-45级练级刷装备。魔龙城地图了国服类似，在魔龙血域可以进入火龙洞
				</td>
				<td>
					<a href="https://docs.qq.com/doc/DVFZIbm5VTEtlRHR3" target="_blank">进入了解</a>
				</td>
			</tr>

			<tr>
				<td>
					3
				</td>
				<td>
					狐狸洞跑法，狐狸洞是中期刷宝的好去处，从盟重右下角进入，可以爆狐狸首饰
				</td>
				<td>
					<a href="https://docs.qq.com/doc/DVGN3S0x4ekFraXBJ" target="_blank">进入了解</a>
				</td>
			</tr>

			<tr>
				<td>
					4
				</td>
				<td>
					月氏地图跑法，月氏可爆魔神装备，是狐狸之后的好去处
				</td>
				<td>
					<a href="https://docs.qq.com/doc/DVFR1a0J0VHFydENx" target="_blank">进入了解</a>
				</td>
			</tr>

			<tr>
				<td>
					5
				</td>
				<td>
					第一关外地图跑法（50级以后刷宝好去处，地图越深经验越高，爆率越高）
				</td>
				<td>
					<a href="https://docs.qq.com/doc/DVGJCR2VMa2ZnTlVa" target="_blank">进入了解</a>
				</td>
			</tr>
            <tr>
                <td>
                   6
                </td>
                <td>
                    坐骑系统（韩服传奇很早就已经有坐骑系统了，国服一直没有，坐骑主要作用：跑图快，一次跑3格的）
                </td>
                <td>
                    <a href="https://docs.qq.com/doc/DVEpzUHNXYnprTmVO" target="_blank">进入了解</a>
                </td>
            </tr>
			<tr>
				<td>
					7
				</td>
				<td>
					夜火传奇攻略说明文档
				</td>
				<td>
					<a href="/yehuo_help.doc" target="_blank">点击下载</a>
				</td>
			</tr>




			</tbody>
		</table>
	</div>

	


</div>



<!---------footer-------------->
<#include "/mir/include/footer.html" />
<#include "/mir/include/hmt.html" />



</body>
</html>
